In [1]:
import pandas as pd
import numpy as np
from collections import Counter

In [35]:
pre = pd.read_csv('notunder_kd.csv')

pre_df = pd.DataFrame(pre)

pre_df

,person_id,gender,age,EGD,bmi,alcohol_habit,cancer,date,observation_date,smoking status,diff
0,1052673,0,56,NaN,23.95,1,0,2013-06-25,2011-09-13,NaN,651 days
1,581660,0,32,1.0,NaN,1,0,2011-07-06,2011-07-06,3.0,0 days
2,2077,0,63,2.0,25.11,2,0,2016-05-11,2011-04-01,NaN,1867 days
3,1067057,0,68,1.0,NaN,1,0,2011-08-31,2007-01-15,NaN,1689 days
4,696381,0,49,3.0,27.91,1,0,2015-08-26,2015-08-26,3.0,0 days
...,...,...,...,...,...,...,...,...,...,...,...
318,14298,1,49,NaN,NaN,1,0,2015-03-25,2006-07-22,1.0,3168 days
319,1646575,1,48,NaN,24.65,4,0,2017-03-25,2017-03-25,NaN,0 days
320,352251,1,26,NaN,17.52,2,0,2014-08-18,2014-08-04,NaN,14 days
321,1599484,0,48,1.0,NaN,2,0,2007-01-05,2006-09-27,1.0,100 days
322,1329151,0,80,4.0,NaN,4,1,2006-10-12,2006-08-02,3.0,71 days

건강검진 날짜를 기준으로 구축한 dataset이므로 최초 진료 기록이 건강검진 이후인 경우
0(해당 질환 없음), 그렇지 않은 경우에 대해서는 1(해당 질환있음)으로 표시한다.

날짜 비교의 기준은 Year로 한다.
건강검진의 날짜가 연도 기준

각각의 질환 Feature는 하위 병명까지 추가된 것.
프로젝트에서는 편의상 대분류(파일명)을 기준으로 함

In [36]:
feature_li = ['malignant neoplastic','chronic liver disease','chronic obstructive lung disease','cerebrovascular disease',
              'chronic kidney disease','diabetes melitus','ischemic heart disease','hyperlipidemia','hypertensive disorder']

feature_li = ['Malignant_neoplastic_disease','Chronic_liver_disease','chronic_obstructive_lung_disease','cerebrovascular_disease',
              'chronic_kidney_disease','diabetes','Ischemic_heart_disease','hyperlipidemia','hypertensive_disorder']

In [39]:
def add_feature(pre, feature):
    read_feature = pd.read_csv('C:/Users/dladu/Desktop/위암 project/5차modeling/기저질환/'+feature+'.csv')
    feature_df = pd.DataFrame(read_feature)
    feature_df.columns = ['person_id','person_id2','concept_id','date']
    del feature_df['person_id2']
    
    feature_df.sort_values(by=['person_id','date'],axis=0,inplace=True)
    feature_df = feature_df.drop_duplicates(['person_id'],keep='first')
    feature_df.reset_index(drop=True, inplace=True)
    #print(feature_df)
    
    p_ids = list(feature_df['person_id'])
    #print(p_ids)
    for i in range(len(pre)):
        #print(pre.iloc[i,0])
        if pre.iloc[i,0] in p_ids:
            p_index = p_ids.index(pre.iloc[i,0])
            feature_date = (pd.to_datetime(feature_df.iloc[p_index,2])).year
            pre_date = (pd.to_datetime(pre.iloc[i,7])).year
            if pre_date<feature_date : # 최초 진료 기록이 그 이후일 경우
                pre.loc[i,feature] = 0
            else :
                pre.loc[i,feature] = 1
        if i%5000==0:
            #pass
            print(i)
    if feature in pre.columns:
        print(feature+' 입력값 개수 : {:d} /323'.format(pre[feature].count()))
    
    return pre

In [40]:
new_pre = add_feature(pre_df, feature_li[0])

0

In [41]:
new_pre1 = add_feature(new_pre, feature_li[1])

0
chronic liver disease 입력값 개수 : 10 /323

In [42]:
new_pre2 = add_feature(new_pre1, feature_li[2])

0
chronic obstructive lung disease 입력값 개수 : 20 /323

In [43]:
new_pre3 = add_feature(new_pre2, feature_li[3])

0
cerebrovascular disease 입력값 개수 : 26 /323

In [44]:
new_pre4 = add_feature(new_pre3, feature_li[4])

0
chronic kidney disease 입력값 개수 : 16 /323

In [45]:
new_pre5 = add_feature(new_pre4, feature_li[5])

0
diabetes melitus 입력값 개수 : 19 /323

In [46]:
new_pre6 = add_feature(new_pre5, feature_li[6])

0
ischemic heart disease 입력값 개수 : 24 /323

In [47]:
new_pre7 = add_feature(new_pre6, feature_li[7])

0
hyperlipidemia 입력값 개수 : 29 /323

In [48]:
new_pre8 = add_feature(new_pre7, feature_li[8])

0
hypertensive disorder 입력값 개수 : 92 /323

In [49]:
new_pre8

,person_id,gender,age,EGD,bmi,alcohol_habit,cancer,date,observation_date,smoking status,diff,chronic liver disease,chronic obstructive lung disease,cerebrovascular disease,chronic kidney disease,diabetes melitus,ischemic heart disease,hyperlipidemia,hypertensive disorder
0,1052673,0,56,NaN,23.95,1,0,2013-06-25,2011-09-13,NaN,651 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,581660,0,32,1.0,NaN,1,0,2011-07-06,2011-07-06,3.0,0 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2077,0,63,2.0,25.11,2,0,2016-05-11,2011-04-01,NaN,1867 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,1067057,0,68,1.0,NaN,1,0,2011-08-31,2007-01-15,NaN,1689 days,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0
4,696381,0,49,3.0,27.91,1,0,2015-08-26,2015-08-26,3.0,0 days,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,14298,1,49,NaN,NaN,1,0,2015-03-25,2006-07-22,1.0,3168 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,1646575,1,48,NaN,24.65,4,0,2017-03-25,2017-03-25,NaN,0 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,352251,1,26,NaN,17.52,2,0,2014-08-18,2014-08-04,NaN,14 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,1599484,0,48,1.0,NaN,2,0,2007-01-05,2006-09-27,1.0,100 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,1329151,0,80,4.0,NaN,4,1,2006-10-12,2006-08-02,3.0,71 days,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
del new_pre8['diff']

In [51]:
#new_pre8.to_csv("pre_feature_kd.csv",mode='w',index=False)

In [52]:
Counter(new_pre8['cancer'])

Counter({0: 320, 1: 3})

In [53]:
new_pre8.columns

Index(['person_id', 'gender', 'age', 'EGD', 'bmi', 'alcohol_habit', 'cancer',
       'date', 'observation_date', 'smoking status', 'chronic liver disease',
       'chronic obstructive lung disease', 'cerebrovascular disease',
       'chronic kidney disease', 'diabetes melitus', 'ischemic heart disease',
       'hyperlipidemia', 'hypertensive disorder'],
      dtype='object')

In [56]:
new_pre8['Malignant neoplastic disease']=0

## 일반(위염) 환자와 위암 환자 데이터 결합

In [54]:
pre = pd.read_csv('pre_feature_cancer.csv')

pre_df = pd.DataFrame(pre)
print(Counter(pre_df['cancer']))

#pre_df = pre_df[pre_df['cancer']==0]

pre_df.columns

Counter({1: 89})

Index(['person_id', 'gender', 'age', 'EGD', 'bmi', 'alcohol_habit',
       'smoking status', 'cancer', 'date', 'observation_date',
       'Malignant_neoplastic_disease', 'Chronic_liver_disease',
       'chronic_obstructive_lung_disease', 'cerebrovascular_disease',
       'chronic_kidney_disease', 'diabetes', 'Ischemic_heart_disease',
       'hyperlipidemia', 'hypertensive_disorder'],
      dtype='object')

In [57]:
new_pre8.columns

Index(['person_id', 'gender', 'age', 'EGD', 'bmi', 'alcohol_habit', 'cancer',
       'date', 'observation_date', 'smoking status', 'chronic liver disease',
       'chronic obstructive lung disease', 'cerebrovascular disease',
       'chronic kidney disease', 'diabetes melitus', 'ischemic heart disease',
       'hyperlipidemia', 'hypertensive disorder',
       'Malignant neoplastic disease'],
      dtype='object')

In [58]:
pre_df = pre_df[['person_id', 'age', 'gender', 'bmi', 'EGD', 'alcohol_habit',
       'smoking status','cancer','date', 'observation_date','Malignant_neoplastic_disease', 'Chronic_liver_disease',
       'chronic_obstructive_lung_disease', 'cerebrovascular_disease',
       'chronic_kidney_disease', 'diabetes', 'Ischemic_heart_disease',
       'hyperlipidemia', 'hypertensive_disorder']]

pre_df.columns = ['person_id',  'age','gender', 'bmi', 'EGD', 'alcohol_habit',
       'smoking_status', 'cancer', 'date', 'observation_date',
       'Malignant neoplastic disease', 'Chronic liver disease',
       'chronic obstructive lung disease', 'cerebrovascular disease',
       'chronic kidney disease', 'Diabetes mellitus', 'Ischemic heart disease',
       'hyperlipidemia', 'Hypertensive disorder']

In [59]:
new_pre8 = new_pre8[['person_id', 'age', 'gender', 'bmi', 'EGD', 'alcohol_habit',
       'smoking status','cancer','date', 'observation_date','Malignant neoplastic disease', 'chronic liver disease',
       'chronic obstructive lung disease', 'cerebrovascular disease',
       'chronic kidney disease', 'diabetes melitus', 'ischemic heart disease',
       'hyperlipidemia', 'hypertensive disorder']]

new_pre8.columns = ['person_id',  'age','gender', 'bmi', 'EGD', 'alcohol_habit',
       'smoking_status', 'cancer', 'date', 'observation_date',
       'Malignant neoplastic disease', 'Chronic liver disease',
       'chronic obstructive lung disease', 'cerebrovascular disease',
       'chronic kidney disease', 'Diabetes mellitus', 'Ischemic heart disease',
       'hyperlipidemia', 'Hypertensive disorder']

In [61]:
new_pre8 = new_pre8[new_pre8['cancer']==0]

In [62]:
new_df = pd.concat([pre_df, new_pre8])
new_df

,person_id,age,gender,bmi,EGD,alcohol_habit,smoking_status,cancer,date,observation_date,Malignant neoplastic disease,Chronic liver disease,chronic obstructive lung disease,cerebrovascular disease,chronic kidney disease,Diabetes mellitus,Ischemic heart disease,hyperlipidemia,Hypertensive disorder
0,1673221,52,0,25.72,1.0,1,3.0,1,2008-09-30,2008-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1289235,62,0,NaN,NaN,1,NaN,1,2014-08-29,2009-05-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1690134,73,0,NaN,2.0,2,3.0,1,2014-05-09,2006-11-18,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0
3,530465,64,0,17.40,4.0,2,NaN,1,2015-03-10,2015-03-10,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,0.0
4,737827,55,0,23.36,6.0,1,NaN,1,2014-04-22,2014-04-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,1756845,40,0,23.27,NaN,2,3.0,0,2016-07-14,2010-02-24,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318,14298,49,1,NaN,NaN,1,1.0,0,2015-03-25,2006-07-22,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,1646575,48,1,24.65,NaN,4,NaN,0,2017-03-25,2017-03-25,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,352251,26,1,17.52,NaN,2,NaN,0,2014-08-18,2014-08-04,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,1599484,48,0,NaN,1.0,2,1.0,0,2007-01-05,2006-09-27,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
for a in ['gender']:
    print(Counter(new_df[a]))

Counter({0: 298, 1: 111})

In [64]:
Counter(new_df['cancer'])

Counter({1: 89, 0: 320})

In [65]:
#new_df.to_csv("final_kd.csv",mode='w',index=False)